.venv/
__pycache__/
*.pyc
*.pth
*.npy
*.mp4

outputs/checkpoints/*
!outputs/checkpoints/.gitkeep

outputs/logs/*
!outputs/logs/.gitkeep

outputs/results/*
!outputs/results/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/splits/*
!data/splits/.gitkeep

temp_dataset/
.DS_Store
dataset.zip